- Talk about VENV 
- python -m venv elife_env
- cd elife_env
- Scripts\activate

- jupyter notebook
- local venv

In [2]:
import PyPDF2

In [4]:
f = open('Find_the_Phone_Number.pdf','rb')

In [5]:
pdf = PyPDF2.PdfFileReader(f)

In [6]:
pdf.numPages

17

## Phone Number Matching

Lot's of ways to do this, but you had to figure out the phone number was in format ###.###.####

Hint: https://stackoverflow.com/questions/4697882/how-can-i-find-all-matches-to-a-regular-expression-in-python

In [7]:
import re

In [8]:
pattern = r'\d{3}.\d{3}.\d{4}'

In [9]:
for n in range(pdf.numPages):
    
    page  = pdf.getPage(n)
    page_text = page.extractText()
    match = re.search(pattern,page_text)
    
    if match:
        print(match.group())

505.503.4455

-----------------
---------------

In [10]:
import csv

In [11]:
data = open('example.csv')

In [12]:
csv_data = csv.reader(data)

In [13]:
data_lines = list(csv_data)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 1810: character maps to <undefined>

In [14]:
data = open('example.csv',encoding="utf-8")
csv_data = csv.reader(data)
data_lines = list(csv_data)

In [15]:
data_lines[:3]

[['id', 'first_name', 'last_name', 'email', 'gender', 'ip_address', 'city'],
 ['1',
  'Joseph',
  'Zaniolini',
  'jzaniolini0@simplemachines.org',
  'Male',
  '163.168.68.132',
  'Pedro Leopoldo'],
 ['2',
  'Freida',
  'Drillingcourt',
  'fdrillingcourt1@umich.edu',
  'Female',
  '97.212.102.79',
  'Buri']]

In [16]:
len(data_lines)

1001

In [19]:
all_emails = []
for line in data_lines[1:15]:
    all_emails.append(line[3])

In [20]:
all_emails

['jzaniolini0@simplemachines.org',
 'fdrillingcourt1@umich.edu',
 'nherity2@statcounter.com',
 'ofrayling3@economist.com',
 'jmurrison4@cbslocal.com',
 'lgamet5@list-manage.com',
 'dhowatt6@amazon.com',
 'kherion7@amazon.com',
 'chedworth8@china.com.cn',
 'hgasquoine9@google.ru',
 'ftarra@shareasale.com',
 'abathb@umn.edu',
 'lchastangc@goo.gl',
 'cceried@yale.edu']

What if we wanted a list of full names?

In [21]:
full_names = []

for line in data_lines[1:15]:
    full_names.append(line[1]+' '+line[2])

In [22]:
full_names

['Joseph Zaniolini',
 'Freida Drillingcourt',
 'Nanni Herity',
 'Orazio Frayling',
 'Julianne Murrison',
 'Lucy Gamet',
 'Dyana Howatt',
 'Kassey Herion',
 'Chrissy Hedworth',
 'Hyatt Gasquoine',
 'Felicdad Tarr',
 'Andrew Bath',
 'Lucais Chastang',
 'Car Cerie']

---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------

## What is Pandas?
Pandas is a Python library used for working with data sets.

It has functions for analyzing, cleaning, exploring, and manipulating data.

In [29]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

df= pd.DataFrame(mydataset)

print(df)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

## Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [32]:
print(df.loc[[0,1]])

    cars  passings
0    BMW         3
1  Volvo         7

In [34]:
import pandas as pd

df = pd.read_csv('example.csv')
print(df)

       id first_name      last_name                           email  gender  \
0       1     Joseph      Zaniolini  jzaniolini0@simplemachines.org    Male
1       2     Freida  Drillingcourt       fdrillingcourt1@umich.edu  Female
2       3      Nanni         Herity        nherity2@statcounter.com  Female
3       4     Orazio       Frayling        ofrayling3@economist.com    Male
4       5   Julianne       Murrison         jmurrison4@cbslocal.com  Female
..    ...        ...            ...                             ...     ...
995   996   Parrnell           Jeff             pjeffrn@4shared.com    Male
996   997        Pat       Warstall         pwarstallro@dropbox.com    Male
997   998     Willyt     Vannuccini     wvannuccinirp@tuttocitta.it  Female
998   999     Gaelan     Petrashkov     gpetrashkovrq@hostgator.com    Male
999  1000   Stirling       Francesc     sfrancescrr@cyberchimps.com    Male

         ip_address                   city
0    163.168.68.132         Pedro Leopoldo
1     97.212.102.79                   Buri
2    145.151.178.98                 Claver
3    25.199.143.143                 Kungur
4    10.186.243.144  Sainte-Luce-sur-Loire
..              ...                    ...
995    159.55.55.39                 Dengok
996   169.200.7.131         Rosário do Sul
997  156.149.18.155             Xiaopingba
998  219.109.169.75              Bethlehem
999   108.193.9.206            Potok Złoty

[1000 rows x 7 columns]

In [37]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
 4   gender      1000 non-null   object
 5   ip_address  1000 non-null   object
 6   city        1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB
None

In [53]:
for i in range(len(df)):
    Class = df.iloc[i,4]
    if Class == 'Male':
        print (df.iloc[i,3])

jzaniolini0@simplemachines.org
ofrayling3@economist.com
chedworth8@china.com.cn
hgasquoine9@google.ru
abathb@umn.edu
lchastangc@goo.gl
cceried@yale.edu
pcaldeirof@chronoengine.com
kroish@unicef.org
pcarolik@cam.ac.uk
vdranl@independent.co.uk
tdawidowitschn@free.fr
eseawellp@live.com
jdankr@miibeian.gov.cn
gkarolowskiu@narod.ru
smundeev@nsw.gov.au
aoldershaww@so-net.ne.jp
bmattusevichx@foxnews.com
abohlensy@nih.gov
hbraidwoodz@amazon.com
hsudron10@nps.gov
glewerenz14@about.me
tlewson15@marriott.com
ksainteau16@ning.com
evedekhov17@jiathis.com
fsivess1a@free.fr
pbatson1d@vimeo.com
scawthry1e@youtu.be
kkellock1f@japanpost.jp
esore1h@wikia.com
pchsteney1i@msn.com
eeddies1j@disqus.com
gdrains1m@samsung.com
rteaz1n@issuu.com
iandriolli1s@ucoz.com
fcruickshanks1t@lulu.com
bhallwell1y@usnews.com
krecke1z@microsoft.com
pbartolijn21@biblegateway.com
rlaybourn24@nasa.gov
emorilla28@ycombinator.com
kblooman2a@imgur.com
ssessions2b@bizjournals.com
nraiston2d@nydailynews.com
mdoche2e@microsoft.com
lfrazier2h@i2i.jp
scragg2j@naver.com
mkennewell2k@virginia.edu
tbradie2l@merriam-webster.com
mvanyukov2o@discovery.com
abristowe2r@live.com
pdary2x@redcross.org
afibbens2y@whitehouse.gov
agravatt33@1und1.de
ofendlow34@tuttocitta.it
lreaveley37@wp.com
tcastro38@gov.uk
hmacfarlane3a@facebook.com
mderby3c@ask.com
uchevers3g@surveymonkey.com
jspitell3h@wordpress.com
msnelling3i@php.net
ctosh3o@list-manage.com
hszymoni3p@angelfire.com
ftregian3q@shutterfly.com
hsheran3w@spiegel.de
thowler40@thetimes.co.uk
kmuirhead43@hatena.ne.jp
jbohje44@livejournal.com
iloveday46@aboutads.info
uaven48@fema.gov
adimelow4d@tamu.edu
eraithbie4e@elegantthemes.com
tgunstone4f@yahoo.co.jp
tkaret4g@slideshare.net
jmarran4l@harvard.edu
pthompkins4o@shinystat.com
apyffe4p@economist.com
kmackniely4q@dailymail.co.uk
mfodden4t@smugmug.com
lsames4v@slideshare.net
kjinkins4w@list-manage.com
cbramich4x@youku.com
clademann4z@meetup.com
tnye50@merriam-webster.com
fcasarini52@jugem.jp
afeechan53@ftc.gov
gsynder54@eventbrite.com
ehounsham57@intel.com
carkell59@java.com
ksaddington5a@cloudflare.com
dwoolatt5b@addthis.com
bvile5d@myspace.com
sramelot5h@smugmug.com
nkwietek5m@edublogs.org
ddonet5n@sciencedirect.com
mcurr5s@cyberchimps.com
mwhiteson5t@cocolog-nifty.com
eroman5w@elegantthemes.com
cyounghusband5z@jiathis.com
mtudor61@squarespace.com
aairds63@drupal.org
gmilligan66@ustream.tv
ebruni68@army.mil
cblenkiron69@com.com
jjiruch6a@topsy.com
jdalliston6c@tinyurl.com
ycastagneri6e@discovery.com
hklimshuk6g@weather.com
cmardall6h@photobucket.com
svoyce6i@linkedin.com
gcrayden6j@1und1.de
fgiblin6k@vk.com
dbelamy6l@amazon.co.jp
rwratten6m@seattletimes.com
drafe6p@issuu.com
gskuce6r@yale.edu
hhadley6u@yelp.com
wwilletts6v@nhs.uk
etows6z@quantcast.com
bmargeram71@php.net
ozecchii72@sfgate.com
bjahnig75@bigcartel.com
nselliman76@istockphoto.com
ctidcomb77@linkedin.com
gwanden7a@purevolume.com
sbutterfint7c@redcross.org
santoniades7e@salon.com
mwheeliker7h@dedecms.com
awozencraft7i@meetup.com
bpetrello7j@latimes.com
momalley7k@adobe.com
ojanus7n@imageshack.us
enegri7o@merriam-webster.com
mwesson7p@bizjournals.com
bscrivener7r@mtv.com
ecruttenden7t@skyrock.com
tdeave7w@exblog.jp
eaustick7y@kickstarter.com
hdowall7z@example.com
bmarchenko81@twitpic.com
hhorsley83@forbes.com
gcattrell85@state.gov
oreichert87@etsy.com
gburr8b@apple.com
dgitting8c@delicious.com
smcgeady8g@disqus.com
wwiddall8i@dyndns.org
clewton8l@geocities.com
linsoll8q@wsj.com
aharm8s@ucsd.edu
driccetti8t@pinterest.com
cgrowden8w@wikia.com
mferby8z@amazonaws.com
tmacpaik90@archive.org
ttwiggs91@123-reg.co.uk
tvenny92@alibaba.com
dverrick93@goodreads.com
binnman95@go.com
kjamary98@disqus.com
emingardi99@blogtalkradio.com
emeegan9a@virginia.edu
nmessiter9e@linkedin.com
hdrewry9f@tuttocitta.it
sblumson9j@yelp.com
bfashion9k@ning.com
gbestiman9l@timesonline.co.uk
rhush9n@nymag.com
mdenny9q@yandex.ru
dwoodhouse9u@163.com
abaker9w@spiegel.de
lmcguinnessa0@facebook.com
fbrunta3@earthlink.net
relderbranta6@geocities.com
mkaspara7@eventbrite.com
csainzab@wordpress.org
tslimmeac@wp.com
eschlagae@blogs.com
rcootaf@elegantthemes.com
kgrigolettiai@goo.gl
bcolbeckaj@plala.or.jp
wgopsallak@bing.com
fdrillingcourtap@toplist.cz
mmarchamas@cafepress.com
asciussciettoau@qq.com
csatchav@microsoft.com
crowlandsaw@prweb.com
rmckennanax@spotify.com
dbaddamaz@wp.com
lrankmoreb0@reddit.com
cboyseb2@vk.com
gcronkshawb3@dailymail.co.uk
jshewanb6@scribd.com
lstauntonb7@hhs.gov
ytockellb8@moonfruit.com
gwattersonb9@simplemachines.org
edoughartieba@reverbnation.com
oakersbd@macromedia.com
sarseybf@newyorker.com
vlinnockbg@ftc.gov
ifleemanbh@netvibes.com
omottebi@de.vu
sderksbk@netvibes.com
mgordgebo@marriott.com
bmuglestonebr@icio.us
shegdonnebs@wufoo.com
pathersmithbu@theglobeandmail.com
hbengtsenbv@cbslocal.com
cbruc2@abc.net.au
ocodlinc8@npr.org
bchanterc9@youtube.com
fcochca@cocolog-nifty.com
dlackeyecb@creativecommons.org
rsurgeonch@so-net.ne.jp
medelstoncj@uol.com.br
rbalsercl@yelp.com
ganandcm@fema.gov
tbriggdaleco@last.fm
spovelecp@taobao.com
hstripplingcr@phpbb.com
arowbottomcu@twitpic.com
fhovecw@simplemachines.org
ecorballycx@census.gov
alabeld2@w3.org
sobernd4@eventbrite.com
blowdwelld9@weibo.com
briochdb@pagesperso-orange.fr
wribbensdc@house.gov
ehammersondh@clickbank.net
jhounsomdj@squarespace.com
bcraindk@lulu.com
aroycroftdl@blog.com
gsouthcottdm@tmall.com
bjoseferdn@paypal.com
nolyhanedp@wunderground.com
lbonomeds@wikispaces.com
tcritchleydt@cbsnews.com
jtomasellidu@free.fr
pvasyukhichevdz@illinois.edu
hcreggane0@amazon.co.uk
rdodridgee1@github.io
cdunkleee2@webs.com
tbroomhalle3@loc.gov
ghackine4@comsenz.com
tlatoree7@home.pl
fbulloche8@hhs.gov
fricholdea@privacy.gov.au
walmondeb@hud.gov
lelcombec@amazon.co.jp
ggarnsworthed@google.es
tlabonee@cyberchimps.com
rcomellief@bravesites.com
lalthorpei@marriott.com
dmessengerej@meetup.com
vriddellek@nhs.uk
ssisnerosem@cnbc.com
cswainsonep@yahoo.com
whadnyer@seesaa.net
astaddenet@youtu.be
dplessingeu@gnu.org
lbielbyey@studiopress.com
kchewez@sun.com
clismoref0@flavors.me
dbaldettif1@booking.com
pcharterisf6@si.edu
chardwickf7@whitehouse.gov
pcoakleyf8@walmart.com
rsperringfd@gravatar.com
acovinofe@w3.org
tdemseyfg@house.gov
lconboyfj@spotify.com
bagassfk@virginia.edu
pselbornefo@cdbaby.com
mtanguyfp@purevolume.com
jabbessfq@wikipedia.org
ldytonfr@sakura.ne.jp
wcrannachft@economist.com
crosenfeltfy@cbc.ca
wvongrollmannfz@soup.io
ccluetg1@illinois.edu
efahyg4@washington.edu
awightmang5@flickr.com
rburgisga@economist.com
kgrinhamgb@live.com
lsircombegd@ebay.com
jonionge@blogger.com
hsugggf@webeden.co.uk
opaffotgh@newyorker.com
erosellinigi@dot.gov
amcilhaggagn@indiatimes.com
lbernaertgp@usatoday.com
dgrigoiregr@angelfire.com
gpauleaugt@noaa.gov
cmccomiskeygu@wufoo.com
yheynelgv@archive.org
pherculesongw@jigsy.com
aprettymanh0@ucoz.ru
nclothierh1@skyrock.com
rsillyh2@techcrunch.com
wdefriesh4@japanpost.jp
wbrechinh6@dailymail.co.uk
jvarnsh8@mtv.com
vyurenevha@cargocollective.com
nkimberleyhc@chronoengine.com
uschermickhi@photobucket.com
wklasenhn@kickstarter.com
arollingsonho@privacy.gov.au
nlesekhq@technorati.com
adenisevichhr@merriam-webster.com
econstanzaht@dailymail.co.uk
edaleshv@skype.com
jodonovanhw@wired.com
ccaldicoti2@yahoo.co.jp
droasti3@dell.com
kbitchenoi6@msu.edu
mmacdermotti8@wordpress.org
sdaunterid@huffingtonpost.com
nwinksie@com.com
cvonbrookif@sakura.ne.jp
lbuckbyig@intel.com
pturesij@soundcloud.com
ibroxtonik@about.me
aspeendeniq@ucoz.ru
ktoaliu@noaa.gov
hcowburniw@ihg.com
gecclesalliy@squidoo.com
frudingerj1@shop-pro.jp
cdurramj2@google.com.hk
gbellenyj3@acquirethisname.com
ccarvillej5@php.net
mgarshorej6@dagondesign.com
jheadinghamj7@trellian.com
fstockowja@cloudflare.com
dgresserjc@unc.edu
hmaddenjd@jalbum.net
hluigije@businesswire.com
tmcfarlanjg@techcrunch.com
dsawbridgejh@imgur.com
ctimoneyji@cnn.com
jpettiwardjl@wix.com
mhendrixjm@nature.com
fkuhljp@nationalgeographic.com
kduigenanjx@a8.net
brattenberiejy@nature.com
atrevarthenjz@tinyurl.com
jmatyushonokk0@liveinternet.ru
sjelkk5@loc.gov
bsaffillk8@people.com.cn
ncrudgintonk9@ihg.com
cmunniskd@examiner.com
jbeesleyke@imageshack.us
bvlasenkokg@omniture.com
dalduski@vkontakte.ru
plackingtonko@clickbank.net
nhagertykp@webs.com
dgowlingkq@state.gov
tfawleyks@reddit.com
snaisbitku@tuttocitta.it
phalsokv@taobao.com
dapthorpekw@360.cn
sstewartsonky@studiopress.com
ukeddiekz@acquirethisname.com
pfydoel0@cyberchimps.com
kkeggl3@loc.gov
twyattl4@ted.com
wroomsl5@e-recht24.de
blutzl7@deliciousdays.com
adohmerl8@salon.com
eruminl9@scientificamerican.com
aburleyla@newyorker.com
sodelllb@goo.gl
ktillyerlc@globo.com
wdonild@epa.gov
sdilowaylk@mozilla.com
ndysertll@hexun.com
ehartmanlm@fc2.com
rmcgowranlr@scribd.com
dhailwoodls@ocn.ne.jp
dsaccolt@opera.com
qdeweylv@theglobeandmail.com
mbruslely@phpbb.com
cescotlz@deviantart.com
esouthgatem0@si.edu
gdelepinem1@parallels.com
ajadosm3@mozilla.org
tmcmeartym9@lycos.com
wdegliantonime@unc.edu
kbagniukmf@xrea.com
hquademi@ucoz.com
ytattershallmm@spiegel.de
jipplettmn@spotify.com
pwortmanmp@theguardian.com
lscinimq@newsvine.com
dbowrymt@mozilla.com
cmaundersmu@tripod.com
fdemarcomv@moonfruit.com
zsparrowhawkmw@vimeo.com
imillmx@yahoo.co.jp
plundymz@yandex.ru
aducareln0@yolasite.com
cjoslandn3@skyrock.com
ngarcian5@indiegogo.com
ctruinna@homestead.com
sbarnishnc@twitter.com
cmichenf@amazon.co.jp
cpolsonng@shop-pro.jp
smarriagenh@devhub.com
mdevoynl@cloudflare.com
fdasparnn@photobucket.com
dcavesno@businessweek.com
nemmanuelens@drupal.org
smcclenannt@theguardian.com
igieroknv@apache.org
kboldrynx@fc2.com
ttileynz@cam.ac.uk
odelahunto2@naver.com
davrahamyo3@google.nl
cdiclaudioo4@hc360.com
jwillimoto5@google.it
tpoppyo7@trellian.com
kkneeboneo9@techcrunch.com
rshearwoodoc@nifty.com
svaulkhardoe@is.gd
yhurranoh@flickr.com
mkegleyoi@xrea.com
ckerrichoj@trellian.com
llangshawok@va.gov
dgoulbornol@whitehouse.gov
jkieltom@java.com
wleppingtonoo@people.com.cn
rfarnworthop@printfriendly.com
ihuskow@cloudflare.com
ccloneyoy@shutterfly.com
gbleasp1@joomla.org
fbonehillp2@prnewswire.com
ptsarovicp3@mayoclinic.com
acausticp6@tripod.com
mbasilp7@altervista.org
fcollspg@prlog.org
kbetserpi@usatoday.com
adalliganpj@guardian.co.uk
hlockettpl@wsj.com
dandreoupm@wsj.com
gdibiagipp@baidu.com
drowantreepq@chicagotribune.com
tmonnoyerpr@ucla.edu
lmoizerpv@dagondesign.com
dhowtonpx@yahoo.co.jp
vleggingpz@alexa.com
ehobsonq1@simplemachines.org
cyanyushkinq5@mozilla.com
aantonsenq8@whitehouse.gov
pcahalinq9@moonfruit.com
kwoolgarqb@examiner.com
wprangerqc@ca.gov
pkinlochqe@reference.com
priglarqi@princeton.edu
srubanenkoqj@narod.ru
kananqk@bigcartel.com
mwallql@who.int
tgriceqo@elegantthemes.com
hcurneenqp@hostgator.com
dmarrowqs@e-recht24.de
friolfiqt@macromedia.com
mmckallqv@odnoklassniki.ru
thavocqx@japanpost.jp
toloughnanqz@bloglines.com
wsabbertonr1@cocolog-nifty.com
rberther3@omniture.com
rsearsonr4@rambler.ru
agrigorinir6@bloglines.com
fickovitzr8@oakley.com
btryer9@parallels.com
hshearstonra@clickbank.net
tkindellrc@amazonaws.com
bspeermanrd@blogger.com
jlinere@pinterest.com
etremathackrf@github.io
cgladdisrg@hp.com
btomczynskiri@toplist.cz
lluxfordrl@redcross.org
gwakerleyrm@disqus.com
pjeffrn@4shared.com
pwarstallro@dropbox.com
gpetrashkovrq@hostgator.com
sfrancescrr@cyberchimps.com

In [59]:
gk = df.groupby('gender')
  
# Let's print the first entries
# in all the groups formed.
gk.first()

,id,first_name,last_name,email,ip_address,city
gender,,,,,,
Female,2,Freida,Drillingcourt,fdrillingcourt1@umich.edu,97.212.102.79,Buri
Male,1,Joseph,Zaniolini,jzaniolini0@simplemachines.org,163.168.68.132,Pedro Leopoldo

In [60]:
import pandas as pd
  
# import csv file
df = pd.read_csv("https://bit.ly/drinksbycountry")
  
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

In [61]:

# Find the average of each continent
# by grouping the data  
# based on the "continent".
df.groupby(["continent"]).mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455
Europe,193.777778,132.555556,142.222222,8.617778
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
South America,175.083333,114.750000,62.416667,6.308333

In [62]:
df.groupby(df["continent"]).beer_servings.agg(["min",
                                               "max",
                                               "sum",
                                               "count",
                                               "mean"])

               min  max   sum  count        mean
continent
Africa           0  376  3258     53   61.471698
Asia             0  247  1630     44   37.045455
Europe           0  361  8720     45  193.777778
North America    1  285  3345     23  145.434783
Oceania          0  306  1435     16   89.687500
South America   93  333  2101     12  175.083333